USE [user25]
GO
/****** Object:  Table [dbo].[Edinici]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edinici](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Edini] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[TypeID] [int] NULL,
	[MinQBox] [int] NULL,
	[EdiniciID] [int] NULL,
	[QSclad] [int] NULL,
	[MinVozm] [int] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialTypes]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Article] [int] NULL,
	[MinPrice] [int] NULL,
	[Photo] [nvarchar](max) NULL,
	[TypeID] [int] NULL,
	[QPeople] [int] NULL,
	[Ceh] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsMaterials]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsMaterials](
	[ID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[MaterialID] [int] NULL,
	[MinQ] [int] NULL,
 CONSTRAINT [PK_ProductsMaterials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Product]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Product](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Type_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.04.2026 3:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_User\] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Edinici] ([ID], [Name]) VALUES (1, N' г')
INSERT [dbo].[Edinici] ([ID], [Name]) VALUES (2, N' кг')
INSERT [dbo].[Edinici] ([ID], [Name]) VALUES (3, N' м')
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([ID], [Name], [TypeID], [MinQBox], [EdiniciID], [QSclad], [MinVozm], [Price]) VALUES (1, N'Шипы для льда 3x2', 1, 3, 1, 470, NULL, 6511)
INSERT [dbo].[Materials] ([ID], [Name], [TypeID], [MinQBox], [EdiniciID], [QSclad], [MinVozm], [Price]) VALUES (2, N'Резина для льда 0x2', 2, 2, 2, 816, NULL, 48785)
INSERT [dbo].[Materials] ([ID], [Name], [TypeID], [MinQBox], [EdiniciID], [QSclad], [MinVozm], [Price]) VALUES (3, N'Шипы для льда 2x2', 1, 1, 1, 479, NULL, 13077)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
INSERT [dbo].[MaterialTypes] ([ID], [Name]) VALUES (1, N'Шипы')
INSERT [dbo].[MaterialTypes] ([ID], [Name]) VALUES (2, N'Резина')
GO
INSERT [dbo].[Products] ([ID], [Name], [Article], [MinPrice], [Photo], [TypeID], [QPeople], [Ceh]) VALUES (1, N'Колесо R18 Кованый', 2416590, 11509, N'tire_15.jpg', 1, 4, 10)
INSERT [dbo].[Products] ([ID], [Name], [Article], [MinPrice], [Photo], [TypeID], [QPeople], [Ceh]) VALUES (2, N'Запаска R15 Кованый', 327657, 8667, N'1141dbd5-21c7-44a6-bd93-ff290962be0e.jpg', 2, 2, 8)
INSERT [dbo].[Products] ([ID], [Name], [Article], [MinPrice], [Photo], [TypeID], [QPeople], [Ceh]) VALUES (3, N'Шина R21 Лето', 266521, 10561, N'tire_6.jpg', 3, 4, 1)
GO
INSERT [dbo].[ProductsMaterials] ([ID], [ProductID], [MaterialID], [MinQ]) VALUES (1, 1, 18, 16)
INSERT [dbo].[ProductsMaterials] ([ID], [ProductID], [MaterialID], [MinQ]) VALUES (2, 83, 26, 16)
INSERT [dbo].[ProductsMaterials] ([ID], [ProductID], [MaterialID], [MinQ]) VALUES (3, 27, 18, 13)
GO
INSERT [dbo].[ProductTypes] ([ID], [Name]) VALUES (1, N'Колесо')
INSERT [dbo].[ProductTypes] ([ID], [Name]) VALUES (2, N'Запаска')
INSERT [dbo].[ProductTypes] ([ID], [Name]) VALUES (3, N'Шина')
GO
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (3, N'Агент')
GO
INSERT [dbo].[Type_Product] ([ID], [Name]) VALUES (1, N'Колесо')
INSERT [dbo].[Type_Product] ([ID], [Name]) VALUES (2, N'Запаска')
INSERT [dbo].[Type_Product] ([ID], [Name]) VALUES (3, N'Шина')
GO
INSERT [dbo].[Users] ([ID], [Name], [Login], [Password], [RoleID]) VALUES (1, N'Иванов Иван Иванович', N'i.ivanov', N'Passw0rd!1', 1)
INSERT [dbo].[Users] ([ID], [Name], [Login], [Password], [RoleID]) VALUES (2, N'Петрова Мария Сергеевна', N'm.petrova', N'SecureP@ss2', 2)
INSERT [dbo].[Users] ([ID], [Name], [Login], [Password], [RoleID]) VALUES (3, N'Сидоров Алексей Петрович', N'a.sidorov', N'UserPass3', 3)
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Edinici] FOREIGN KEY([EdiniciID])
REFERENCES [dbo].[Edinici] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Edinici]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[MaterialTypes] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialTypes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ProductTypes] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductTypes]
GO
ALTER TABLE [dbo].[ProductsMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterials_Materials] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([ID])
GO
ALTER TABLE [dbo].[ProductsMaterials] CHECK CONSTRAINT [FK_ProductsMaterials_Materials]
GO
ALTER TABLE [dbo].[ProductsMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterials_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductsMaterials] CHECK CONSTRAINT [FK_ProductsMaterials_Products]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
